/target/
.settings/
.classpath
.metadata  
.project
.myeclipse
.pydevproject
*.iml
/out/
.idea
*.jar  
*.war  
*.ear  
*.class  
classes/  
.svn
.*.swp  
.DS_Store
*.tmp  
*.bak  
*.swp 